* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
html {
    font-size:62.5%;
}
body {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-overflow-scrolling:touch;
    overflow-scrolling:touch;
}
body {
    margin:0;
    background:#eee;
    font-size:1.2rem;
    line-height:1.6;
    color:#0e0e0e;
    font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;
}
a,input,textarea,select,button {
    outline:0;
}
a {
    color:#0e0e0e;
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.header-placeholder {
    height:4rem;
}
.header-wrap {
    position:relative;
    overflow:hidden;
}
header {
    width:100%;
    height:4rem;
    background:#fe5400;
    padding:1rem .8rem;
    line-height:1.9rem;
    position:absolute;
    left:0;
    top:0;
    z-index:999;
}
header h1 {
    font-size:1.6rem;
    text-align:center;
    font-weight:normal;
    padding:0 2rem;
    position:absolute;
    z-index:99;
    width:100%;
    left:0;
}
.search .form .text {
    position:relative;
    top:-.6rem;
    width:80%;
    float:left;
}
.search .form input {
    border-radius:4px;
    background:#f4f4f4;
    border:0;
    padding:.6rem 2.6rem .6rem 1rem;
    width:100%;
    font-size:1.4rem;
    font-family:"Microsoft Yahei";
}
.search .form .text i {
    width:1.6rem;
    height:1.6rem;
    background:url(../images/icon-search.png) no-repeat 50% 50%;
    background-size:100% auto;
    position:absolute;
    top:25%;
    right:.8rem;
    z-index:2;
}
.search .form .btn-enter {
    font-size:1.4rem;
    color:#fff;
    white-space:nowrap;
    width:20%;
    display:inline-block;
    text-align:center;
}
#bar-tab {
    width:100%;
    height:4.2rem;
    z-index:999;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
#bar-tab .tab-item {
    position:relative;
    height:4.2rem;
    text-align:center;
    vertical-align:middle;
    font-size:1.2rem;
    flex:2;
}
#bar-tab .tab-item .icon {
    width:2rem;
    height:2rem;
    display:inline-block;
    position:relative;
    top:.416667rem;
    background-size:100% auto;
    background-repeat:no-repeat;
    background-position:50% 50%;
}
#bar-tab .tab-item .icon1 {
    background-image:url(../images/nav01.png);
}
#bar-tab .tab-item .icon2 {
    background-image:url(../images/nav02.png);
}
#bar-tab .tab-item .icon3 {
    background-image:url(../images/nav03.png);
}
#bar-tab .tab-item .icon4 {
    background-image:url(../images/nav04.png);
}
#bar-tab .tab-item .tab-label {
    display:block;
    font-size:1.2rem;
}
#bar-tab .active {
    color:#f4811f;
}
#bar-tab .active .icon1 {
    background-image:url(../images/active-nav01.png);
}
#bar-tab .active .icon2 {
    background-image:url(../images/active-nav02.png);
}
#bar-tab .active .icon3 {
    background-image:url(../images/active-nav03.png);
}
#bar-tab .active .icon4 {
    background-image:url(../images/active-nav04.png);
}
#bar-tab:before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1px;
    display:block;
    z-index:12;
    transform-origin:50% 0%;
    background-color:#cfcece;
    transform:scaleY(0.5);
}
.wrap {
    width:100%;
    height:auto;
    overflow:hidden;
    margin:0 auto;
    position:relative;
    padding-bottom:5rem;
}
#banner {
    margin-bottom:0rem;
}
.slideBox {
    position:relative;
    overflow:hidden;
    max-width:100%;
}
.slideBox .hd {
    position:absolute;
    height:28px;
    line-height:28px;
    width:100%;
    bottom:0;
    right:0;
    z-index:1;
}
.slideBox .hd ul {
    margin:0;
    padding:0;
    text-align:center;
}
.slideBox .hd li {
    display:inline-block;
    border:1px solid #fff;
    background:#fff;
    width:0.8rem;
    height:0.8rem;
    text-indent:-999rem;
    overflow:hidden;
    margin:0 .25rem;
    border-radius:1rem;
    position:relative;
    font-size:0;
    opacity:.7;
}
.slideBox .hd li.on {
    background:#fe5400;
    border-color:#fe5400;
    opacity:1;
}
.slideBox .bd {
    position:relative;
    z-index:0;
}
.slideBox .bd li {
    position:relative;
    text-align:center;
    width:100%;
}
.slideBox .bd li img {
    vertical-align:top;
    width:100%;
    display:block;
}
.list-wrap .hd {
    padding:1rem 1.4rem 1rem 0;
    margin-left:1.4rem;
    position:relative;
    overflow:hidden;
}
.list-wrap .item-media {
    display:flex;
    flex-shrink:0;
    flex-wrap:nowrap;
    align-items:center;
}
.list-wrap .item-inner {
    padding-right:0.75rem;
    position:relative;
    width:100%;
    padding-top:0.4rem;
    padding-bottom:0.35rem;
    min-height:2.2rem;
    box-sizing:border-box;
    display:block;
    -webkit-box-flex:1;
    -ms-flex:1;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    align-items:center;
    align-self:stretch;
}
.list-wrap .price {
    color:#ff3402;
    font-size:1.4rem;
    position:relative;
}
.list-wrap .price span {
    color:#fff;
    float:right;
    background:#ff3402;
    width:7rem;
    height:2rem;
    display:block;
    text-align:center;
    line-height:2rem;
    position:absolute;
    right:-4rem;
    top:-3.2rem;;
    transform:rotate(45deg);
}
.list-wrap .des {
    height:4rem;
    overflow:hidden;
    color:#565656;
}
.list-wrap .pares {
    font-size:1.2rem;
}
.list-wrap .hd .item-title-row {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.list-wrap .merchant-name {
    max-width:16rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    float:left;
}
.list-wrap .hd {
    display:flex;
    justify-content:space-between;
}
.list-wrap .hd .item-inner {
    width:100%;
    margin-left:1.1rem;
}
.list-wrap .hd .item-title-row {
    font-size:1.6rem;
    overflow:hidden;
}
.list-wrap .hd:after {
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    right:auto;
    top:auto;
    height:1px;
    width:100%;
    background-color:#e7e7e7;
    display:block;
    z-index:15;
    -webkit-transform-origin:50% 100%;
    transform-origin:50% 100%;
}
.list-wrap .hd:last-child:after {
    background:transparent;
}
.WhiteBox-wrap {
    background:#fff;
}
.filterbar-wrap .tab {
    background:#fff;
    display:flex;
    flex-flow:row wrap;
    list-style:none;
    border-bottom:1px solid #e7e7e7;
    height:4rem; 
    position:relative;
}
.filterbar-wrap .tab li {
    flex:1;
    text-align:center;
    color:#828282;
    height:4rem;
    line-height:4rem;
    cursor:pointer;
    font-size:1.4rem;
}
.filterbar-wrap .tab .separ {
    display:block;
    width:1px;
    height:2rem;
    background:#e7e7e7;
    margin-top:1rem;
}
.filterbar-wrap .tab .active {
    color:#f50;
}
.mui-bar-nav {
    background-color:#ffb4bd;
    height:48px;
    padding-top:5px;
    opacity:1;
    position:relative;
}
.mui-bar-nav.mui-bar .myicos {
    color:white;
    font-size:25px;
    text-align:right;
    padding:0px;
    margin:7px auto auto 5px;
}
.top_Out {
    width:100%;
    height:36px;
    overflow:hidden;
    margin:0px;
    position:relative;
}
.center {
    margin:0px;
    height:100%;
    background-color:#fdd8df;
    position:relative;
    z-index:100;
}
.right {
    width:38px;
    height:100%;
    float:right;
    background-color:#ffb4bd;
    position:relative;
    z-index:101;
}
::-webkit-input-placeholder {
    /* 输入框提示文字颜色 */
    color:#dcaab1;
}
.box {
    display:flex;
    flex-flow:row wrap;
    padding:0.3rem 0;
}
.box .item {
    flex:1;
    text-align:center;
    width:25%;
}
.box .item span {
    display:block;
    margin:0 auto;
}
.box .item .img {
    width:42px;
    height:42px;
    margin-bottom:.5rem;
}
.box .item .img img {
    width:42px;
    height:42px;
    display:block;
}
#slideBox-calssify {
    padding-bottom:3rem;
}
#slideBox-calssify .hd ul {
    text-align:center;
}
#slideBox-calssify .hd {
    bottom:.5rem;
}
#slideBox-calssify .hd li {
    background:#B3B1B1;
    border-color:#B3B1B1;
}
#slideBox-calssify .hd li.on {
    background:#B3B1B1;
    border-color:#B3B1B1;
}
/*字体*/
@font-face {
    font-family:hyxyj;
    font-weight:lighter;
    font-style:normal;
    src:url(../fonts/HYXYJ.ttf) format('truetype');
}
/*图标*/
@font-face {
    font-family:myico;
    font-weight:400;
    font-style:normal;
    src:url(../fonts/myico.ttf) format('truetype')
}
.myico {
    font-family:"myico" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:0.1px;
}
.icon-fl:before {
    content:"\e900";
}
.icon-sys:before {
    content:"\e901";
}
.icon-search {
    color:#FFFFFF;
    text-align:right; 
    width:50px; 
    padding:0px; 
    height:100%;  
    margin:0px auto auto 5px;
} 
.icon-search div {
    margin-left:25%;
    float:left;
    margin-top:15%;
}
#mui-icon-speech {
    position:absolute;
    top:-4px;
    left:6px;
    color:#ea7a88;
}
#mui-input-speech {
    width:100%;
    background:none;
    border:none;
    padding-left:30px;
}
@media only screen and (min-width:414px) {
    html {
    font-size:68.5% !important;
}
